# Tab settings

<p><label>Tab Text</label>
<%= text_field_tag 'settings[tab_text]', @settings['tab_text'] %><br />
</p>

<p><label>Tab Name</label>
<%= text_field_tag 'settings[tab_name]', @settings['tab_name'] %><br />
</p>

